APP_ENVIRONMENT=development
PALWORLD_SERVICE=palworld.service
PALWORLD_DIR=/home/steam/palserver
PALWORLD_SETTINGS=/home/steam/palserver/Pal/Saved/Config/LinuxServer/PalWorldSettings.ini
STEAMCMD=/usr/games/steamcmd
APP_HOST=127.0.0.1
APP_PORT=8080
MANAGER_DATABASE=/var/lib/palworld-manager/manager.db
