APP_ENVIRONMENT=development
PALWORLD_SERVICE=palworld.service
PALWORLD_REST_BASE_URL=http://127.0.0.1:8212/v1/api
PALWORLD_REST_USERNAME=
PALWORLD_REST_PASSWORD=
PALWORLD_DIR=/home/steam/palserver
PALWORLD_SETTINGS=/home/steam/palserver/Pal/Saved/Config/LinuxServer/PalWorldSettings.ini
STEAMCMD=/usr/games/steamcmd
RCLONE=/usr/bin/rclone
RCLONE_REMOTE=palworld-manager
RCLONE_CONFIG=/var/lib/palworld-manager/rclone/rclone.conf
DISCORD_WEBHOOK_URL=
APP_HOST=127.0.0.1
APP_PORT=8080
MANAGER_DATABASE=/var/lib/palworld-manager/manager.db
