<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark">
    <meta name="theme-color" content="#090b0e">
    <title>{% block title %}Palworld Manager{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/dist/app.css') }}">
    <script src="{{ url_for('static', path='/dist/vendor/htmx.min.js') }}" defer></script>
    <script src="{{ url_for('static', path='/dist/app.js') }}" defer></script>
  </head>
  {% block body %}{% endblock %}
</html>
